<footer 
  class="text-sm px-16 lg:px-30 mb-24 {{ is_homepage ? 'mt-20 lg:mt-100' : 'mt-60 lg:mt-170' }} transition-opacity duration-150"
  :class="{ 'opacity-0 pointer-events-none': $store.menu.isOpen, 'opacity-100': !$store.menu.isOpen }">
  {{ partial:layout/outer class="border-y-6 border-y-verdique py-16 lg:pb-20" }}
    <div class="flex flex-col lg:flex-row lg:justify-between">

      <a 
        href="https://pay.raisenow.io/qkqhx?lng=de" 
        title="{{ "Unterstützen Sie den Schauplatz Brunngasse" | trans }}"
        target="_blank"
        rel="noopener noreferrer"
        class="size-140 mb-16 lg:mb-0 lg:order-4 inline-block group">
        {{ partial:icons/donation-badge class="w-full h-auto group-hover:-rotate-[12deg] transition-all" }}
      </a>

      <div class="mb-28 lg:mb-0 lg:order-1">

        <div class="mb-28 lg:mb-20 [&_a]:underline [&_a]:underline-offset-2 [&_a:hover]:text-sunella [&_a]:transition-colors">
          
          {{ if contact_info:title }}
            <strong>{{ contact_info:title | nl2br }}</strong><br>
          {{ /if }}
          
          {{ if contact_info:address }}
            {{ contact_info:address }}<br>
          {{ /if }}

          {{ if contact_info:email }}
            <a 
              href="mailto:{{ contact_info:email }}"
              aria-label="{{ "Schreiben Sie uns eine E–Mail" | trans }}">
              {{ contact_info:email }}
            </a><br>
          {{ /if }}

          {{ if contact_info:phone }}
            <a 
              href="mailto:{{ contact_info:phone }}"
              aria-label="{{ "Rufen Sie uns an" | trans }}">
              {{ contact_info:phone }}
            </a><br>
          {{ /if }}
          
        </div>

        {{ if opening_hours:opening_hours }}
          <div>
            {{ "Öffnungszeiten" | trans }}<br>{{ opening_hours:opening_hours }}
          </div>
        {{ /if }}

      </div>

      <nav class="mb-28 lg:mb-0 lg:order-2 [&_a]:underline [&_a]:underline-offset-2 [&_a:hover]:text-sunella [&_a]:transition-colors">
        <ul>
          {{ nav:footer }}
            <li>
              <a 
                href="{{ url }}" 
                aria-label="{{ title }}"
                target="{{ is_external ? '_blank' : '_self' }}"
                rel="noopener noreferrer">
                {{ title }}
              </a>
            </li>
          {{ /nav:footer }}
        </ul>
      </nav>

      {{ if social_media:facebook || social_media:instagram || social_media:linkedin }}
        <div class="lg:order-3 flex flex-col gap-y-2">
          {{# {{ if social_media:facebook }}
            <a 
              href="{{ social_media:facebook }}"
              title="Facebook"
              class="inline-flex items-center leading-none gap-x-4 group">
              {{ partial:icons/facebook class="size-22 mt-2" }}
              <span class="underline underline-offset-2 group-hover:text-sunella transition-colors">{{ "Facebook" | trans }}</span>
            </a>
          {{ /if }} #}}
          
          {{ if social_media:instagram }}
            <a 
              href="{{ social_media:instagram }}"
              title="Instagram"
              class="inline-flex items-center leading-none gap-x-4 group">
              {{ partial:icons/instagram class="size-22 mt-2" }}
              <span class="underline underline-offset-2 group-hover:text-sunella transition-colors">{{ "Instagram" | trans }}</span>
            </a>
          {{ /if }}

          {{# {{ if social_media:linkedin }}
            <a 
              href="{{ social_media:linkedin }}" 
              title="Twitter"
              class="inline-flex items-center leading-none gap-x-4 group">
              {{ partial:icons/linkedin class="size-22 mt-2" }}
              <span class="underline underline-offset-2 group-hover:text-sunella transition-colors">{{ "LinkedIn" | trans }}</span>
            </a>
          {{ /if }} #}}
        </div>
      {{ /if }}
    </div>
    <div class="mt-45">
      <span class="block mb-5 lg:mb-10">{{ "Unterstützt von:" | trans }}</span>
      <a 
        href="https://www.stadt-zuerich.ch/de/stadtleben/kultur.html" 
        target="_blank"
        rel="noopener noreferrer"
        title="{{ "Stadt Zürich Kultur" | trans }}">
        {{ partial:icons/logo-city class="lg:w-180 h-auto" }}
      </a>
    </div>
  {{ /partial:layout/outer }}
</footer>
{{ vite src="resources/js/app.js" }}
