<header 
  x-data="headerScroll()"
  :class="{ 'translate-y-[-100%]': !headerVisible, 'translate-y-0': headerVisible }"
  class="bg-white px-16 lg:px-32 pt-16 lg:pt-30 pb-7 lg:pb-12 h-[var(--header-height-sm)] lg:h-[var(--header-height-lg)] fixed z-10 top-0 w-full flex items-center transition-transform duration-500 ease-in-out">
  {{ partial:layout/outer class="flex justify-between" }}
    <a href="{{ siteUrl }}" title="{{ "Zurück zur Startseite" | trans }}">
      {{ partial:icons/logo class="w-194 lg:w-250 h-auto" }}
    </a>
    <div class="mt-4 lg:mt-5" x-data="menuToggle()">
      {{ partial:menu/button }}
      {{ partial:menu/wrapper }}
    </div>
  {{ /partial:layout/outer }}
</header>
