{{ partial:layout/article 
  class="{{ content_has_border ? 'pb-10 lg:pb-14 pt-13 lg:pt-17' : 'pb-10 lg:pb-14' }} {{ content_border_top_color ? 'border-t-6 lg:border-t-9 border-{{ content_border_top_color }}' : '' }} {{ content_border_bottom_color ? 'border-b-6 lg:border-b-9 border-{{ content_border_bottom_color }}' : '' }}" }}
  {{ editor }}
    {{ if type == 'text' }}
      {{ text }}
    {{ /if }}
    {{ if type == 'link' }}
      <div class="my-5">
        <a 
          href="{{ link }}"
          aria-label="{{ link_text }}"
          target="{{ target }}"
          class="!no-underline group">
          &rarr;
          <span class="underline decoration-2 underline-offset-2 group-hover:no-underline">
            {{ link_text }}
          </span>
        </a>
      </div>
    {{ /if }}
    {{ if type == 'link_mail' }}
      <div class="my-5">
        <a 
          href="mailto:{{ email }}"
          aria-label="{{ link_text }}"
          target="_blank"
          class="!no-underline group">
          &rarr;
          <span class="underline decoration-2 underline-offset-2 group-hover:no-underline">
            {{ link_text }}
          </span>
        </a>
      </div>
    {{ /if }}
    {{ if type == 'link_phone' }}
      <div class="my-5">
        <a 
          href="tel:{{ phone }}"
          aria-label="{{ link_text }}"
          target="_blank"
          class="!no-underline group">
          &rarr;
          <span class="underline decoration-2 underline-offset-2 group-hover:no-underline">
            {{ link_text }}
          </span>
        </a>
      </div>
    {{ /if }}
  {{ /editor }}
{{ /partial:layout/article }}
