@import "typo/webfonts.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] { display: none !important; }

:root {
  --header-height-sm: 4.5rem;  /* 72 px */
  --header-height-lg: 6.5rem;  /* 104 px */
}

main {
  @apply flex-1;
}

p:not(:last-child) {
  @apply mb-25 lg:mb-40;
}

strong {
  @apply font-feixen-sans-semibold font-semibold;
}

h1 {}

h2 {}

h3 {
  @apply font-feixen-sans-medium text-lg lg:text-2xl;
}
